body{
    margin: 0;
    padding: 0;
    text-align: center;
 }

form div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

form div input{
    width: 80%;
    margin-bottom: 20px;
}

form{
    margin-bottom: 20px;
}

a, a:visited{
    color: blue;
}